{% extends 'base.html.twig' %}

{% block title %}Hello AvispasController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/oclemsym/src/Controller/AvispasController.php'|file_link(0) }}">src/Controller/AvispasController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/oclemsym/templates/avispas/index.html.twig'|file_link(0) }}">templates/avispas/index.html.twig</a></code></li>
    </ul>

    <table>
    	<tr>
    		<th>Nombre</th>
    		<th>Entorno</th>
    		<th>Color</th>
    		<th>Veneno</th>
    	</tr>
    	{% for avispa in avispas %}
    	<tr>
    		<td>{{ avispa.nombre }}</td>
    		<td>{{ avispa.entorno }}</td>
    		<td>{{ avispa.color }}</td>
    		<td>{{ avispa.venenosa }}</td>
    		<td>
    			<a href="{{ path('mostrar_avispa', {'id': avispa.id}) }}">Mostrar</a>
    			<a href="avispas/editar/{{ avispa.id }}">Editar</a>
    			<a href="avispas/borrar/{{ avispa.id }}">Borrar</a>
    		</td>
    	</tr>
    	{% endfor %}
    </table>

</div>
{% endblock %}
